# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build
dist
test/dist_esbuild
test/dist_tsup
test-baseurl/dist_esbuild
test-baseurl/dist_tsup

# dependencies
node_modules

# lock files
pnpm-lock.yaml
package-lock.json